*.pid
*.xml
*.csr
*.crt
*.key

www/*

blueprints
custom_components/
OZW_Log.txt
home-assistant.log*
home-assistant_v2.db*
ip_bans.yaml
secrets.yaml
known_devices.yaml
.ip_authenticated.yaml
zones.yaml
google_calendars.yaml
notification.yaml
lib
deps
tts
.uuid
*.conf
*.pyc
plex.conf
zigbee.db
/appdaemon/appdaemon.yaml
.*
!/.gitignore
ssh/
resources/
configuration.yaml.save
home-assistant-3a3c9-e673699b18f4.json
pyozw.sqlite
ssl
backups/
